<script>
      window.gameName = "<%= @game_name %>";
      window.playerName = "<%= @player_name %>";
</script> 
<h1>Othello: <%= @game_name %> </h1>
<h2>Player: <%= @player_name %> </h1>
<div id="game">
  Loading...
</div>